/* Created by 
    Natasha Ayles 2023 */

*{
    box-sizing: border-box;
}

body {
    transition: background-color 1.5s;
    background-color: rgb(48, 117, 61);
    display: flexbox;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;

}


h1{
    flex-direction: row;
    
}
button{
    border-radius: 25px;
    border-style: ridge;
}
button:hover{
    background-color: black;
    color: white;
}

#lotr-pic {
    height: 400px;
}
h1, footer{
    color: aliceblue;
}