/* Created by 
    Natasha Ayles 2023 */

*{
    box-sizing: border-box;
}

body {
    transition: background-color 1.5s;
    background-color: steelblue;
    display: flexbox;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;

}
body:hover{
    background-color: rgb(43, 226, 156);
}
h1{
    flex-direction: row;
    
}
button{
    border-radius: 25px;
    border-style: ridge;
}
button:hover{
    background-color: black;
    color: white;
}
p::first-letter{
    color: white;
}
#cocktailpic {
    height: 400px;
}
h1, footer{
    color: aliceblue;
}